<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<div class="logo"></div>
<div class="login-block">
    <h1>Register</h1>
    <input #username type="text" value="" placeholder="Username" id="username" />
    <input #password type="password" value="" placeholder="Password" id="password" />
    <input #firstname type="text" value="" placeholder="First Name" id="firstname" />
    <input #lastname type="text" value="" placeholder="Lastname" id="lastname" />
    <button (click) = "register($event)">Sign Up</button>

    <br><br>
    <a routerLink="/login">Sign In</a>
</div>
