<div class="container">
    <div class="page-header">
      <h1 style="text-align: center;" >Units</h1>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">New</button>
      <button type="button" class="btn btn-primary" (click)="setEditovanje()">View All</button>

    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a data-toggle="pill" href="#tip">Type</a></li>
            <li><a data-toggle="pill" href="#kategorije">Category</a></li>
            <li><a data-toggle="pill" href="#dodatno">Extras</a></li>
           </ul>
        </div>

        <div class="col-md-9 tab-content">
            <div id="tip" class="tab-pane fade in active" style="border-left: solid gray 1px;">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngFor="let t of tipovi">
                  <tr>
                    <td>{{t.idTipa}}</td>
                    <td>{{t.nazivTipa}}</td>
                    <td>{{t.opisTipa}}</td>
                    <td>
                      <span *ngIf="editovanje">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" (click)="setForEditT(t)">Edit</button>
                      </span>
                      <span *ngIf="brisanje">
                        <button type="button" class="btn btn-primary btn-xs" (click)="obrisiTip(t)">Delete</button>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="kategorije" class="tab-pane fade" style="border-left: solid gray 1px;">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngFor="let k of kategorije">
                  <tr>
                    <td>{{k.idKategorije}}</td>
                    <td>{{k.nazivKategorije}}</td>
                    <td>{{k.opisKategorije}}</td>
                    <td>
                      <span *ngIf="editovanje">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" (click)="setForEditK(k)">Edit</button>
                      </span>
                      <span *ngIf="brisanje">
                        <button type="button" class="btn btn-primary btn-xs" (click)="obrisiKategoriju(k)">Delete</button>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="dodatno" class="tab-pane fade" style="border-left: solid gray 1px;">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngFor="let u of dodatneUsluge">
                  <tr>
                    <td>{{u.idUsluge}}</td>
                    <td>{{u.nazivUsluge}}</td>
                    <td>{{u.opisUsluge}}</td>
                    <td>
                      <span *ngIf="editovanje">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" (click)="setForEditE(u)">Edit</button>
                      </span>
                      <span *ngIf="brisanje">
                        <button type="button" class="btn btn-primary btn-xs" (click)="obrisiUslugu(u)">Delete</button>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="odustani()">&times;</button>
        <h4 class="modal-title" style="text-align: center;">{{mode}}</h4>
       </div>
      <div class="modal-body">


          <form class="form-horizontal" >


            <div class="form-group">
              <label class="control-label col-sm-2" for="idd">Location:</label>
              <div class="col-sm-10">
                <input type="number" [value]="idtext" [disabled]="editInProgress" class="form-control" id="idd" placeholder="Enter location" name="idd" #idd>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2">Accomodation type:</label>
              <div class="col-sm-10">
                <div class="radio-inline">
                  <label><input type="radio" name="optradio" [disabled]="editInProgress" [checked] = "checkedT()" #r1>Hotel </label>
                </div>
                <div class="radio-inline">
                  <label><input type="radio" name="optradio" [disabled]="editInProgress" [checked] = "checkedK()" #r2>Bad & Breakfast</label>
                </div>
                <div class="radio-inline">
                  <label><input type="radio" name="optradio" [disabled]="editInProgress" [checked] = "checkedE()" #r3>Apartman</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="opis">Description:</label>
              <div class="col-sm-10">
                <input type="text" [value]="opistext" class="form-control" id="opis" placeholder="Enter description" name="opis" #opis>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="opis">Images:</label>
              <div class="col-sm-10">
                <input type="button" [value]="opistext" class="form-control" id="opis" value="Browse" name="opis" #opis>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="opis">Number of guests:</label>
              <div class="col-sm-10">
                <input type="text" [value]="opistext" class="form-control" id="opis" placeholder="Enter number of guests" name="opis" #opis>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2">BOnus:</label>
              <div class="col-sm-10">
                <div class="radio-inline">
                  <label><input type="checkbox" name="optradio" [disabled]="editInProgress" [checked] = "checkedT()" #r1>Parking </label>
                </div>
                <div class="radio-inline">
                  <label><input type="checkbox" name="optradio" [disabled]="editInProgress" [checked] = "checkedK()" #r2>WiFi</label>
                </div>
                <div class="radio-inline">
                  <label><input type="checkbox" name="optradio" [disabled]="editInProgress" [checked] = "checkedE()" #r3>Breakfast</label>
                </div>
                <div class="radio-inline">
                  <label><input type="checkbox" name="optradio" [disabled]="editInProgress" [checked] = "checkedE()" #r4>Half-Pansion</label>
                </div>
                <div class="radio-inline">
                  <label><input type="checkbox" name="optradio" [disabled]="editInProgress" [checked] = "checkedE()" #r5>Pansion</label>
                </div>
                <div class="radio-inline">
                  <label><input type="checkbox" name="optradio" [disabled]="editInProgress" [checked] = "checkedE()" #r6>TV</label>
                </div>
                <div class="radio-inline">
                  <label><input type="checkbox" name="optradio" [disabled]="editInProgress" [checked] = "checkedE()" #r7>Mini Kitchen / Kitchen</label>
                </div>
                <div class="radio-inline">
                  <label><input type="checkbox" name="optradio" [disabled]="editInProgress" [checked] = "checkedE()" #r8>Private Bathroom</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="opis">Price plan:</label>
              <div class="col-sm-10">
                <input type="text" [value]="opistext" class="form-control" id="opis" placeholder="Enter number of guests" name="opis" #opis>
              </div>
            </div>

          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="createNewUnit()">Save</button>
      </div>
    </div>
  </div>
</div>
