<ul class="nav nav-tabs nav-justified">
  <li class="active"><a data-toggle="tab" href="#menu0">Units</a></li>
  <li><a data-toggle="tab" href="#menu1">Messages</a></li>
  <li><a data-toggle="tab" href="#menu2">Reservations</a></li>
</ul>

<div class="tab-content">
  <div id="menu0" class="tab-pane fade in active">
    <app-unit></app-unit>
  </div>
  <div id="menu1" class="tab-pane fade">
    <app-messages></app-messages>
  </div>
  <div id="menu2" class="tab-pane fade">
    <app-reservations></app-reservations>
  </div>

</div>
