<div class="container">
  <div class="row centered-form" >
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Please sign up</h3>
        <br>
       </div>
       <div class="panel-body">
          <form (ngSubmit)="onSubmit(registrationForm)" #registrationForm="ngForm">  
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input  ngModel type="text" name="firstname" id="fisrtname" class="form-control input-sm" placeholder="First Name">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input ngModel  type="text" name="lastname" id="lastname" class="form-control input-sm" placeholder="Last Name">
              </div>
            </div>
          </div>

          <div class="form-group">
            
            <input ngModel  type="email" name="username" id="username" class="form-control input-sm" placeholder="Email Address">
          </div>

          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input ngModel  type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input ngModel  type="password" name="passwordConfirmation" id="passwordConfirmation" class="form-control input-sm" placeholder="Confirm Password">
              </div>
            </div>
          </div>
          
          <input type="submit" value="Register" class="btn btn-info btn-block">
        
        </form>
      </div>
    </div>
  </div>
</div>
</div>