
<input type="checkbox" name="mobile-nav" id="mobile-nav" class="gaadiexp-check" onchange="this.blur()">
<label for="mobile-nav" class="gaadiexp white" tabindex="0"><span></span></label>
<nav role="navigation" class="header-nav">
    <div class="fixed-nav">

        <h2 style="color: orange; font-family: 'Roboto'">BOOKING</h2>
        <div class="menu">
            <div class="list-group-hover sidebar-widget-1">
	            <ul class="list-unstyled">
                  <li><a [routerLink]="['../home']"  class="list-group-item"><i class="fa fa-tachometer"></i> Dashboard <span class="badge"></span> </a></li>
                  <li><a [routerLink]="['../profile']"  class="list-group-item bg-active"><i class="fa fa-user"></i> My Profile</a> </li>
                  <li><a [routerLink]="['../inbox']" class="list-group-item"><i class="fa fa-list"></i>  Inbox</a> </li>
                  <li *ngIf="enableButtonLogout==true"><a [routerLink]="['../home']" (click)="logout()" class="list-group-item"><i class="fa fa-power-off"></i> Log Out</a> </li>
                  <li *ngIf="enableButtonLogin==true"><a [routerLink]="['../login']" class="list-group-item"><i class="fa fa-power-off"></i> Log In</a> </li>
  
            </ul>
         </div>
        </div>
    </div>
</nav>

<div class="breacrumb-area bg-light-grey-1 ">
    <div class="container ">
        <div class="row nav-content-margin">
            <div class="col-md-12 breadcrumb-box padding-left-20">
                <a href="#"><h4><i class="fa fa-long-arrow-left"></i> Go Back</h4></a>
            </div>
        </div>
    </div>
</div>


    <div class="container">
        <div class="row">
            
                <div class="col-md-12 ">
                    <div class="crane-grid-listing-block">
                        <div class="row">
                             <div class="col-md-12">
                    <div class="crane-grid-listing clearfix">
                        <div class="col-md-4 crane-image-block ">
                            <div class="crane-list-img">
                                <img class="img-responsive"src="https://media-cdn.tripadvisor.com/media/photo-s/03/9b/2f/ce/maldives.jpg">
                            </div>
                          </div>
                          
                        <div class="col-md-12">
                            <div class="crane-list-content">
                                <div class="crane-title" >
                                      <br>
                                    <h3>{{r?.smestajnaJedinica.lokacija.drzava}} {{r?.smestajnaJedinica.lokacija.grad}}</h3>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-3">
                                        <p><i class="fa fa-phone"></i>Type: {{r?.smestajnaJedinica.tipSmestaja.nazivTipa}}</p>
                                      </div>
                                      <div class="col-md-3">
                                        <p><i class="fa fa-phone"></i>Category: {{r?.smestajnaJedinica.kategorijaSmestaja.nazivKategorije}}</p>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">
        
                                          <p>Location: {{r?.smestajnaJedinica.lokacija.ulica}} {{r?.smestajnaJedinica.lokacija.broj}}</p>
                                    
                                      </div>
                                      <div class="col-md-3">
                                        <p>Description: {{r?.smestajnaJedinica.opis}}</p>
                                    </div>
                                  </div>
                                  <div>
                                   
                                            <p>Cena: {{r?.ukupnaCena}}</p>
                                   
                                    
                                  </div>
        
                                <!--div class="crane-category">
                                    <ul class="list-inline">
                                        <li><a href="#">JCB Crane</a></li>
                                        <li><a href="#">Crane Towing Service</a></li>
        
                                    </ul>
                                </div-->
                            </div>
                        </div>
                        <div class="col-md-2 padding-b-10 ">
                            <div class="margin-t-40 hidden-xs"></div>
                            <div>
                              Agent: {{r?.smestajnaJedinica.agent.ime}} {{r?.smestajnaJedinica.agent.prezime}}
                            </div>
                            <br>
                            <div class="row" *ngIf="r.realizovana==true">
                         
                                <button class="btn btn-primary mb-2 mr-2" (click)="messageAgent(r)">Message agent</button>
                          </div>
                        </div>
                    </div>
                   
                </div>
                         </div>
        
                    </div>
                    
                </div>
            </div>
         <div class="row">
      
<div class="container">
        <div class="row">
            <div class="col-md-8">
              <div class="page-header">
                <h4>Comments </h4>
              </div> 
              <div  *ngFor="let c of comments">
               <div class="comments-list">
                   <div class="media">
                       <p class="pull-right"><small>5 days ago</small></p>
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/40/40/people/1/">
                        </a>
                        <div class="media-body">
                            
                          <h4 class="media-heading user_name">{{c?.user.username}}</h4>
                          {{c?.sadrzaj}}
                        
                        </div>
                      </div>
                  
               </div>
            </div>
                
                
                
            </div>
        </div>
    </div>
         </div>

    </div>
   
