
<input type="checkbox" name="mobile-nav" id="mobile-nav" class="gaadiexp-check" onchange="this.blur()">
<label for="mobile-nav" class="gaadiexp white" tabindex="0"><span></span></label>
<nav role="navigation" class="header-nav">
    <div class="fixed-nav">
        <a class="navbar-brand"  style="margin-left:50px;" href="auction.gaadiexpert.com"></a>

        <div class="menu">
            <div class="list-group-hover sidebar-widget-1">
	            <ul class="list-unstyled">
                  <li><a [routerLink]="['../home']"  class="list-group-item"><i class="fa fa-tachometer"></i> Dashboard <span class="badge"></span> </a></li>
                  <li><a [routerLink]="['../profile']"  class="list-group-item bg-active"><i class="fa fa-user"></i> My Profile</a> </li>
                  <li><a [routerLink]="['../inbox']" class="list-group-item"><i class="fa fa-list"></i>  Inbox</a> </li>
                  <li *ngIf="enableButtonLogout==true"><a [routerLink]="['../home']" (click)="logout()" class="list-group-item"><i class="fa fa-power-off"></i> Log Out</a> </li>
                  <li *ngIf="enableButtonLogin==true"><a [routerLink]="['../login']" class="list-group-item"><i class="fa fa-power-off"></i> Log In</a> </li>
  
            </ul>
         </div>
        </div>
    </div>
</nav>

<div class="breacrumb-area bg-light-grey-1 ">
    <div class="container ">
        <div class="row nav-content-margin">
            <div class="col-md-12 breadcrumb-box padding-left-20">
                <a href="#"><h4><i class="fa fa-long-arrow-left"></i> Go Back</h4></a>
            </div>
        </div>
    </div>
</div>


    <div class="container">
        <div class="row">
            
                <div class="col-md-12 ">
                    <div class="crane-grid-listing-block">
                        <div class="row">
                             <div class="col-md-12">
                    <div class="crane-grid-listing clearfix">
                        <div class="col-md-4 crane-image-block ">
                            <div class="crane-list-img">
                                <img class="img-responsive"src="https://media-cdn.tripadvisor.com/media/photo-s/03/9b/2f/ce/maldives.jpg">
                            </div>
                          </div>
                          
                        <div class="col-md-12">
                            <div class="crane-list-content">
                                <div class="crane-title" >
                                      <br>
                                    <h3>{{r?.smestajnaJedinica.lokacija.drzava}} {{r.smestajnaJedinica.lokacija.grad}}</h3>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-3">
                                        <p><i class="fa fa-phone"></i>Type: {{r.smestajnaJedinica.tipSmestaja.nazivTipa}}</p>
                                      </div>
                                      <div class="col-md-3">
                                        <p><i class="fa fa-phone"></i>Category: {{r.smestajnaJedinica.kategorijaSmestaja.nazivKategorije}}</p>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">
        
                                          <p>Location: {{r.smestajnaJedinica.lokacija.ulica}} {{r.smestajnaJedinica.lokacija.broj}}</p>
                                    
                                      </div>
                                      <div class="col-md-3">
                                        <p>Description: {{r.smestajnaJedinica.opis}}</p>
                                    </div>
                                  </div>
                                  <div>
                                   
                                            <p>Cena: {{r.ukupnaCena}}</p>
                                   
                                    
                                  </div>
        
                                <!--div class="crane-category">
                                    <ul class="list-inline">
                                        <li><a href="#">JCB Crane</a></li>
                                        <li><a href="#">Crane Towing Service</a></li>
        
                                    </ul>
                                </div-->
                            </div>
                        </div>
                        <div class="col-md-2 padding-b-10 ">
                            <div class="margin-t-40 hidden-xs"></div>
                            <div>
                              Agent: {{r.smestajnaJedinica.agent.ime}} {{r.smestajnaJedinica.agent.prezime}}
                            </div>
                            <br>
                            <div class="row">
                             

                               
                            
                                <button class="btn btn-primary mb-2 mr-2" (click)="messageAgent(r.smestajnaJedinica.agent.username)">Message agent</button>
                          </div>
                        </div>
                    </div>
                   
                </div>
                         </div>
        
                    </div>
                    
                </div>
            </div>
         

    </div>
   
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>