<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Agents app</a>
      </div>

     <div *ngIf="isLoggedIn() then userpagebutton; else loginpagebutton;"></div>

     <ng-template #loginpagebutton>
    	<ul class="nav navbar-nav navbar-right">
		  <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
	 </ng-template>

     <ng-template #userpagebutton>
     	<ul class="nav navbar-nav navbar-right">
     	
     		<li><a routerLink="/userprofile"> <span class="glyphicon glyphicon-user"></span> {{getUsername()}} </a></li>
			<li><a routerLink="/logout">Logout</a></li>
		</ul>
	 </ng-template>

  </div>
</nav>
