
<input type="checkbox" name="mobile-nav" id="mobile-nav" class="gaadiexp-check" onchange="this.blur()">
<label for="mobile-nav" class="gaadiexp white" tabindex="0"><span></span></label>
<nav role="navigation" class="header-nav">
    <div class="fixed-nav">
     
        <h2 style="color: orange; font-family: 'Roboto'">BOOKING</h2>
        <div class="menu">
            <div class="list-group-hover sidebar-widget-1">
	            <ul class="list-unstyled">
                  <li><a [routerLink]="['../home']"  class="list-group-item"><i class="fa fa-tachometer"></i> Dashboard <span class="badge"></span> </a></li>
                  <li><a [routerLink]="['../profile']"  class="list-group-item   bg-active"><i class="fa fa-user"></i> My Profile</a> </li>
                  <li><a [routerLink]="['../inbox']" class="list-group-item"><i class="fa fa-list"></i>  Inbox</a> </li>
                  <li *ngIf="enableButtonLogout==true"><a [routerLink]="['../home']" (click)="logout()" class="list-group-item"><i class="fa fa-power-off"></i> Log Out</a> </li>
                  <li *ngIf="enableButtonLogin==true"><a [routerLink]="['../login']" class="list-group-item"><i class="fa fa-power-off"></i> Log In</a> </li>
  
            </ul>
         </div>
        </div>
    </div>
</nav>

<div class="breacrumb-area bg-light-grey-1 ">
    <div class="container ">
        <div class="row nav-content-margin">
            <div class="col-md-12 breadcrumb-box padding-left-20">
                <a href="#"><h4><i class="fa fa-long-arrow-left"></i> Go Back</h4></a>
            </div>
        </div>
    </div>
</div>


<div class="top-filter-area bg-blue padding-tb-10">
    <div class="container">
        <div class="row">
            
            <h2 style="color: orange; font-family: 'Roboto'"> {{loggedUser?.ime}}'s profile and reservation details</h2>
            <div class="col-sm-12" style="text-align: center">
              
            </div>


           
        </div>
    </div>

</div>

<br>
<h3>Reservations</h3>
<div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
            <ul class="event-list" *ngFor="let r of reservations; let i = index" >
                <li >
  
                   
                    <div class="info">
                        <h2 (click)="more(r.hjid)" class="title">{{r.smestajnaJedinica.lokacija.grad}}, {{r.smestajnaJedinica.lokacija.drzava}},
                            {{r.smestajnaJedinica.lokacija.ulica}}, {{r.smestajnaJedinica.lokacija.broj}}</h2>
                        <p class="desc">{{r.smestajnaJedinica.tipSmestaja.nazivTipa}}, rating: {{reservationsOcena[i]}}</p>
                        
                        <ul>
								<li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span><b>Time period:</b> {{r.odItem}} - {{r.doItem}}</a></li>
                                <li style="width:50%;"><span class="fa fa-money"></span>{{r.smestajnaJedinica.brojOsoba}} persons, RSD {{r.ukupnaCena}}</li>

                                <button type="button" class="btn btn-danger " (click)="cancel(r.hjid)">Cancel</button>
                        </ul>
                    </div>
                   
                   
                </li>
            </ul>
        </div>
    </div>
</div>

<h3>Past reservations</h3>
<div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
            <ul class="event-list" *ngFor="let r of reservationsRealiz; let i = index"  >
                
                <li >

                   
                    <div class="info">
                        <h2 class="title" (click)="more(r.hjid)">{{r.smestajnaJedinica.lokacija.grad}}, {{r.smestajnaJedinica.lokacija.drzava}},
                            {{r.smestajnaJedinica.lokacija.ulica}}, {{r.smestajnaJedinica.lokacija.broj}}</h2>
                        <p class="desc">{{r.smestajnaJedinica.tipSmestaja.nazivTipa}}, rating: {{reservationsRealizOcena[i]}}</p>
                   
                    <ul>
                        <li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span><b>Time period:</b> {{r.odItem}} - {{r.doItem}}</a></li>
                        <li style="width:50%;"><span class="fa fa-money"></span>{{r.smestajnaJedinica.brojOsoba}} persons, RSD {{r.ukupnaCena}}</li>
        
                    </ul>
               
                    <input type="text" class="rate" [(ngModel)]="rating[i]" style="width: 40px; height: 30px">
                    <button type="button" class="btn btn-primary " (click)="addRate(r, i)">Rate</button>
                    
                    <button type="button" class="btn btn-success " (click)="showComment(i)">Comment</button>
 


                        </div>
                        <div class="container" *ngIf="showCom[i]==true">
                            <div class="row" >
                                
                             <div class="media">
                                <div class="media-body">
                                  <h4 class="media-heading title">{{loggedUser.username}}</h4>
                                    <input type="text" placeholder="enter your comment" [(ngModel)]="content">
                                  <button type="button" class="btn btn-success" (click)="addComment(r)">Post</button>
                                </div>
                            </div>
                            
                        </div>   
                            </div> 
                        
         
                </li>
                <br>
                <br>
                <br>
                <br>
                <br>
            </ul>
        </div>
    </div>
</div>

<!-- 
<div class="wrapper">
    <table id="acrylic">
        <thead>
            <tr>
                <th>Mesto rezervacije</th>
                <th>Naziv</th>
                <th>Tip smestaja</th>
                <th>Broj osoba</th>
                <th>Od - Do</th>
                <th>Cena</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of reservations">
                <td>{{r.smestajnaJedinica.lokacija.grad}}, {{r.smestajnaJedinica.lokacija.drzava}},
                     {{r.smestajnaJedinica.lokacija.ulica}}, {{r.smestajnaJedinica.lokacija.broj}}</td>
                <td>{{r.smestajnaJedinica.naziv}}</td>
                <td>{{r.smestajnaJedinica.tipSmestaja.nazivTipa}}</td>
                <td>{{r.smestajnaJedinica.brojOsoba}}</td>
                <td>{{r.od}} - {{r.do}}</td>
                <td>{{r.ukupnaCena}}</td>
                <td><button type="button" class="btn btn-danger " (click)="cancel(r.hjid)">Cancel</button>
                <button type="button" class="btn btn-primary " (click)="more(r.hjid)">Show more</button></td>

            </tr>

        </tbody>
    </table>
</div>
 -->
