

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

 <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light"
  style="text-align: center; font-size:26px">
  
  
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-expand-md">
        <li class="nav-item">
            <a class="nav-link" ></a>
          </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/inbox']"> Inbox   <span class="sr-only">(current)</span></a>
      </li>
  

        <li class="nav-link "  [routerLink]="['/sent']"> Sent messages <span class="sr-only"></span>
           <a class="nav-link"></a>
      

        <li class="nav-link" [routerLink]="['/home']"> Home
          <a class="nav-link"></a>
        </li>
      
      
      
    </ul>
  
  </div>
  </nav>
<br>
<h3>Received messages</h3>
<br>
 
<div class="list-group" *ngFor="let m of receivedMessages">
    <a (click)="showMessage(m)" class="list-group-item">

 
        <span class="glyphicon glyphicon-envelope"></span><span class="name" style="min-width: 120px;
            display: inline-block;"> {{m.agent.username}}</span><span class="">{{m.naslov}}</span>
        <span class="text-muted" style="font-size: 11px;">{{m.content}}</span> <span
            class="badge">{{m.datum}} </span> <span class="pull-right">
              </span> 
        </a>
</div>
         

<div class="container" *ngIf="selectMessage==true">

	<div class="row">

   
		<div class="panel panel-default">
        <div class="panel-heading clearfix">
            <a (click)="x()" >
            <div style = "float: right">
                <span class="glyphicon glyphicon-remove"></span>
            </div>
            </a>
          <br>
          <div class="row">
             <div class="col-md-12">
                <h3 class="panel-title">  Selected message</h3>
              </div>
     
       
          
          </div>
          <br>
        </div>
        <div class="panel-body">
        
                <div class="row">
                  <label class="col-md-2" for="inputTo">From</label>
                  <div class="col-md-2">{{agentSel}}</div>
                 
         
              </div>
                  
                  <div class="row">
                    <label  class="col-md-2" for="inputSubject">Subject</label>
                    <div  class="col-md-2" >{{naslovSel}}</div>
                  </div>
                  <div class="row">
                  <label  class="col-md-2" for="inputBody">Message</label>
                  
                  <div  class="col-md-2">{{contentSel}}<div><div style="z-index: 2; opacity: 1; margin-left: 594px; margin-top: 27px;" class="gr-textarea-btn " data-grammarly-reactid=".3"><div title="Protected by Grammarly" class="gr-textarea-btn_status" data-grammarly-reactid=".3.0">
                        </div>
                  </div>
                </div>
            
                
                </div>

              
                 
                    
            
                
         
        </div>
        <button style="float: right " type="button" class="btn btn-success" (click)="reply(messid)">Reply</button>
      </div>
      

  </div>
</div>
